<main>
  <div class="container">
    <div class="row-header">
      <h2 class="page-title">Tarefas</h2>
      <button (click)="changeCreatingState()" class="button-create-task">
        <app-add-icon></app-add-icon>
        <p>Criar Tarefa</p>
      </button>
    </div>

    <div class="kanban-section" dropzone="true">
      <div
        class="list"
        *ngFor="let type of types"
        (dragover)="dragOver($event, type.variable)"
        (drop)="drop($event, type.variable)"
        [ngStyle]="{ 'background-color': type.color }"
      >
        <div class="list-row">
          <p class="list-title" [ngStyle]="{ 'background-color': type.textColor }">
            {{ type.label }}
          </p>
          <div class="three-dots" (click)="changeDropdownState(type)">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul class="dropdown-menu" *ngIf="type.dropdown.open">
            <li
              *ngFor="let option of type.dropdown.options"
              [ngStyle]="{ 'color' : option.action != null ? 'white' : 'gray'}"
              (click)="option.action != null && option.action?.type && editAll(type.dropdown, option.action!.type, option.action!.action)"
            >
              {{ option.label }}
            </li>
          </ul>
        </div>

        <ng-container *ngFor="let task of filteredArray(type.variable); let index = index">

          <div
            class="card-task"
            [ngStyle]="{ 'background-color': type.textColor }"
            draggable="true"
            (dragstart)="dragStart($event, task)"
          >
            <div class="small-info">
              <p>{{ getDate(task.createAt) }}</p>
              <p>{{ task.id }}</p>
            </div>
            <h4>{{ task.title }}</h4>
            <p>{{ task.description }}</p>
            <div class="actions">
              <app-edit-icon (click)="changeCreatingState(task)"></app-edit-icon>
              <app-remove-icon (click)="removeTask(task.id)"></app-remove-icon>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <section class="modal-create" *ngIf="creatingTask">
    <div class="modal-card">
      <h2>{{ creatingTask.id ? 'Editar' : 'Criar' }} Tarefa</h2>
      <label for="title">Título</label>
      <input
        [(ngModel)]="creatingTask.title"
        id="title"
        name="title"
        type="text"
        placeholder="Insira um título..."
      />
      <label for="description">Descrição</label>
      <input
        [(ngModel)]="creatingTask.description"
        id="description"
        name="description"
        type="text"
        placeholder="Insira uma breve descrição..."
      />
      <div class="modal-actions">
        <button id="cancel" (click)="changeCreatingState()">Cancelar</button>
        <button id="save" (click)="createTask()">Salvar</button>
      </div>
    </div>
  </section>
</main>